
/log
client/client.exe
server.exe
profile
trace
/base/aoi/test_aoi.pprof
base/path/astar/layout.txt
/base/path/astar/test.bat
/base/path/astar/out.profile
/base/path/astar/out.cpu

test.bat
/release/log
